<li class="menu-item {% if item == active_item %}active{% endif %}">
    <a href="{% if item.named_url %}{% url item.named_url %}{% else %}{{ item.url }}{% endif %}">
        {{ item.name }}
    </a>
    {% if item.id in expanded_items or item == active_item %}
        <ul class="submenu">
            {% for child in items %}
                {% if child.parent == item %}
                    {% include "tree_menu_app/menu_item.html" with item=child items=items active_item=active_item expanded_items=expanded_items %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>